<div class="main">
    <h1 class="head">Downloads</h1>
    {{#each uploads}}
    <div class="buttons">
        <a href="{{this.link}}" class="but">{{this.name}}</a>
    </div>
    {{/each}}
    <a href="/upload{{course}}{{semester}}{{subject}}{{type}}" class="btn btn-success mt-5"> add item </a>
</div>

<style>
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .head {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin: 10px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        width: 300px;
        background-color: rgb(128, 95, 158);
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 10px;
        border-radius: 1rem;
    }

    .but {
        margin: 5px;
        width: 100px;
        height: 30px;
        padding: 3px;
        border-radius: 0.5rem;
        font-weight: 600;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>