<div class="main">
    <h1 class="head">Videos</h1>
    <div class="buttons">
        {{#each uploads}}
        <h3 class="m-2"> {{this.name}}</h3>
        <iframe width="400" height="225" src="https://www.youtube.com/embed/{{this.link}}?controls=1"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        {{/each}}
    </div>
    <a href="/uploadvideos{{course}}{{semester}}{{subject}}" class="add btn btn-success mt-5"> Add Videos </a>
</div>


<style>
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .head {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin: 10px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10vh;
    }

    .but {
        margin: 10px;
        width: 90vw;
        height: 10vh;
        padding: 3px;
        border-radius: 0.5rem;
        font-weight: 600;
        font-size: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .add {
        width: 100vw;
        height: 7vh;
        font-weight: 600;
        font-size: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
    }
</style>